<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean class="org.springframework.web.filter.CorsFilter">-->
<!--        <constructor-arg>-->
<!--            <bean class="org.springframework.web.cors.UrlBasedCorsConfigurationSource">-->
<!--                <property name="corsConfigurations">-->
<!--                    <map>-->
<!--                        <entry key="/**">-->
<!--                            <bean class="org.springframework.web.cors.CorsConfiguration">-->
<!--                                <property name="allowedOrigins" value="*"/>-->
<!--                                <property name="allowedMethods" value="GET, POST, PUT, DELETE, OPTIONS"/>-->
<!--                                <property name="allowedHeaders" value="*"/>-->
<!--                                <property name="allowCredentials" value="true"/>-->
<!--                            </bean>-->
<!--                        </entry>-->
<!--                    </map>-->
<!--                </property>-->
<!--            </bean>-->
<!--        </constructor-arg>-->
<!--    </bean>-->
</beans>


